@import './_variables.scss';

body {
  max-width: 1024px;
  margin: auto;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

h1, h2, h3, h4, h5, h6, p {
  color: $color-black;
  margin: 0;
}

h1 {
  font-size: 65px;
  font-weight: 900;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 20px;
}